body {
    width: 100%;
    margin: 0;
}

#fileinput {
    height: 3%;
    width: 100%;
}

#map {
    position: absolute;
    top: 3%;
    left: 0%;
    height: 97%;
    width: 50%;
    margin: 0;
}

#sideBoard {
    position: absolute;
    padding-left: 2%;
    top: 3%;
    left: 50%;
    height: 97%;
    width: 50%;
}


#mapOptions {
    position: relative;
    top: 0%;
    height: auto;
    width: auto;
    max-height: 25%;
}

#mapMarkers {
    position: relative;
    max-height: 75%;
}

.marker {
    position: relative;
    padding-left: 2%;
}
