body {
    width: 100%;
    margin: 0;
}

#map {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 50%;
    margin: 0;
}

#left {
    position: relative;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 50%;
}


#mapOptions {
    position: relative;
    top: 0%;
    min-height: 25%;
    max-width: 95%;
    height: auto;
    width: auto;
    padding-left: 2.5%;
}

#mapMarkers {
    position: relative
}
