body {
    width: 100%;
    margin: 0;
}

#fileinput {
    height: 4%;
    width: 100%;
}

#map {
    position: absolute;
    top: 4%;
    left: 0%;
    height: 95%;
    width: 50%;
    margin: 0;
}

#sideBoard {
    position: absolute;
    padding-left: 2%;
    top: 4%;
    left: 50%;
    height: 95%;
    width: 50%;
}


#mapOptions {
    position: relative;
    top: 0%;
    height: auto;
    width: auto;
}

#mapMarkers {
    position: relative;
}

.marker {
    position: relative;
    padding-left: 2%;
}
