.side-info-div {
  margin-bottom: 5%;
}

.side-info-div p {
  line-height: 90%;
}

#demo {
  height: 100%;
}

#map {
  width: 500px;
  height: 500px;
  margin-right: 3%;
}

#checkbox {
  list-style-type: none;
}

.list2gmaps-info-container { }


h1 {
  margin-top: 5% !important;
  text-align: center;
  font-family: OpenSans-Semibold !important;
  font-size: 4em !important;
}

h2 {
  font-family: OpenSans-Semibold !important;
  margin: 0 !important;
  margin-bottom: 2% !important;
  font-size: 2em !important;
}

.container {
  margin-top: 5%;
}

#checkbox li {
  font-size: 1.3em;
}

#checkbox li input {
  margin-right: 1%;
}

#side {
  height: 100%;
}

#checkbox {
  height: 250px;
}

#info {
  font-size: 1.3em;
  height: 250px;
  overflow-y: scroll;
}